# Data Types and Structures

1.What are data structures, and why are they important?

➤ Data structures are ways of organizing and storing data for efficient access and modification. They are important because they help in managing large amounts of data efficiently.

2.Explain the difference between mutable and immutable data types with examples.

➤ Mutable: Can be changed (e.g., list, dict).

➤ Immutable: Cannot be changed (e.g., tuple, string).

3. What are the main differences between lists and tuples in Python?

➤ Lists are mutable, slower, and use more memory.

➤ Tuples are immutable, faster, and memory efficient.

4.Describe how dictionaries store data.

➤ Dictionaries store data as key-value pairs using a hash table under the hood.

5.Why might you use a set instead of a list in Python?

➤ Sets store unique elements and are faster for membership tests.

6.What is a string in Python, and how is it different from a list?

➤ A string is an immutable sequence of characters; a list is a mutable sequence of elements (can be of any type).

7.How do tuples ensure data integrity in Python?

➤ Tuples are immutable, so their contents cannot be accidentally changed.

8.What is a hash table, and how does it relate to dictionaries in Python?

➤ A hash table maps keys to values using a hash function. Python dictionaries are implemented as hash tables.

9.Can lists contain different data types in Python?

➤ Yes, Python lists can store elements of different data types.

10.Explain why strings are immutable in Python.

➤ For security, performance, and hash consistency (used in keys).

11.What advantages do dictionaries offer over lists for certain tasks?

➤ Faster lookups using keys (O(1) time complexity vs. O(n) for lists).

12. Describe a scenario where using a tuple would be preferable over a list.

➤ When data should not change (e.g., coordinates: (x, y)).

13.How do sets handle duplicate values in Python?

➤ Sets automatically discard duplicates.

14.How does the “in” keyword work differently for lists and dictionaries?

➤ In lists: checks values;

➤ In dictionaries: checks keys.

15.Can you modify the elements of a tuple? Explain why or why not.

➤ No, tuples are immutable.

16.What is a nested dictionary, and give an example of its use case?

➤ A dictionary within a dictionary.

17.Describe the time complexity of accessing elements in a dictionary.

➤ Average case: O(1), Worst case: O(n) (rare).

18.In what situations are lists preferred over dictionaries?

➤ When order and indexing are needed, and no key-value structure is required.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?

➤ Before Python 3.7, dictionaries didn't preserve order. Retrieval is by key, not position.

20.Explain the difference between a list and a dictionary in terms of data retrieval.

➤ List: Access via index;

➤ Dictionary: Access via key.

In [3]:
# 1. Write a code to create a string with your name and print it.

name = "Garvi Kaur"
print(name)

Garvi Kaur

In [1]:
# 2. Write a code to find the length of the string "Hello World".

text = "Hello World"
print(len(text))

11

In [4]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".

s = "Python Programming"
print(s[:3])

Pyt

In [5]:
# 4. Write a code to convert the string "hello" to uppercase.

word = "hello"
print(word.upper())

HELLO

In [6]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

In [7]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.

my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [8]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [9]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

lst2 = [1, 2, 3, 4, 5]
lst2.remove(3)
print(lst2)

[1, 2, 4, 5]

In [10]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [11]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].

nums = [10, 20, 30, 40, 50]
nums.reverse()
print(nums)

[50, 40, 30, 20, 10]

In [12]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [13]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [14]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
nums = (10, 20, 5, 15)
print(min(nums))

5

In [15]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [16]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [17]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a', 'b', 'c'}
print(s)

{'b', 'c', 'a'}

In [18]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [19]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [20]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [21]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [22]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [23]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [24]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [25]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [26]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

In [27]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 10, 'b': 20}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 10, 'b': 20}

In [28]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result. (replaced)
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[22, 37, 59, 67, 99]

In [29]:
# 28. Write a code to create a list with strings and print the element at the third index.
words = ["python", "java", "c++", "ruby", "perl"]
print(words[3])

ruby

In [30]:
# 29. Write a code to combine two dictionaries into one and print the result.
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [31]:
# 30. Write a code to convert a list of strings into a set.
str_list = ["apple", "banana", "apple", "orange"]
str_set = set(str_list)
print(str_set)

{'orange', 'apple', 'banana'}